html {
    background-image: url('/backround.png');
    text-align: center;

}


@font-face {
    font-family: oswald;
    src: url(/fonts/oswald.ttf);

}

@font-face {
    font-family: rubik;
    src: url(/fonts/rubik.ttf);

}

h1 {
    font-family: rubik;

}


h2 {
    font-family: rubik;
}

a {
    font-size: 200%;
    color: rgb(165, 0, 0);
    font-family: outfit;

}

@font-face {
    font-family: outfit;
    src: url(/fonts/outfit.ttf);
}