html {
    background-image: url('/backround.png');
    text-align: left;

}


@font-face {
    font-family: oswald;
    src: url(/fonts/oswald.ttf);

}

@font-face {
    font-family: rubik;
    src: url(/fonts/rubik.ttf);

}

h1 {
    font-family: rubik;
    text-align: center;

}


.title {
    font-family: rubik;
    text-align: center;
}

a {
    font-size: 200%;
    color: rgb(165, 0, 0);
    font-family: outfit;

}

@font-face {
    font-family: outfit;
    src: url(/fonts/outfit.ttf);
}

article {
    width: 300px;
    background-color: rgba(58, 58, 58, 0.521);
    padding: 0 16px 16px 16px;
    border-radius: 16px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    font-size: 100%;
    font-family: outfit;
}

.button {
    text-decoration: none;
    background-color: rgb(0, 22, 148);
    color: white;
    padding: 16px;
    border-radius: 8px;

}

article ul {

    margin-bottom: 10px;
}

article img {
border-radius: 50px;
}

.button:hover {
    color: rgba(112, 112, 112, 0.932);
}

.description {
    scale: 110%;
}

.description p {
    margin: 10px;
}