html {
    background-image: url('backround.png');
    background-color: rgb(175, 175, 175);
    text-align: center;

}

a {
    font-size: 200%;
    font-family: oswald;
    color: rgb(0, 35, 133);
    filter: none;
    margin: 5px;
    background-color: blue;

}

@font-face {
    font-family: oswald;
    src: url(/fonts/oswald.ttf);

}

@font-face {
    font-family: rubik;
    src: url(/fonts/rubik.ttf);

}

h1 {
    font-family: rubik;

}

h3 {
    font-family: rubik;

}

hr {
    color: black;
    font-size: 150%;
    
}



.button {
    text-decoration: none;
    background-color: rgb(69, 81, 148);
    color: white;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}

.button:hover {
    color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}