html {
    background-color: rgb(255, 204, 204);
    background-image: url(/backround.png);
    text-align: center;

}

a {
    font-size: 200%;
    font-family: outfit;
    color: rgb(0, 94, 8);
    filter: none;

}

@font-face {
    font-family: oswald;
    src: url(/fonts/oswald.ttf);

}

@font-face {
    font-family: rubik;
    src: url(/fonts/rubik.ttf);

}

h1 {
    font-family: rubik;

}

h3 {
    font-family: rubik;

}

hr {
    color: black;
    font-size: 150%;
    
}

@font-face {
    font-family: outfit;
    src: url(/fonts/outfit.ttf);
}